---
import Box from "../components/Box.astro";
import Layout from "../layouts/Layout.astro";

---
<Layout>
	<div class='text-center'>Picture of me</div>
	<br/>
	<div class='relative flex flex-wrap justify-center content-center gap-3 w-full'>
		<Box>12/22/1995</Box>
		<Box>Knowledge Engineer</Box>
	</div>
</Layout>
