---
import Box from "../components/Box.astro";
import Layout from "../layouts/Layout.astro";

---


<Layout>  
    <div class='px-10'>
        <h2 class="text-center">Interests</h2>
        <br/>
        <h3>Mission</h3>
        <br/>
        <span>To improve the quality of human communication. 
            <br/>
            <br/>
            This implies enabling people to express themselves through precise and
            unambiguous language, as well as to justify themselves for their trust/distrust/uncertainty in matters of truth.
        </span>
        <br/>
        <br/>
        <br/>
        <h3>Areas</h3>
        <br/>
        <div class='relative flex flex-wrap justify-center content-center gap-3 w-full'>
            <Box>Knowledge Representation Languages</Box>
            <Box>Fuzzy Logic</Box>
            <Box>Natural Language Processing</Box>
            <Box>Philosophy</Box>
            <Box>Ontology</Box>
            <Box>Quantum Biology</Box>
        </div>
    </div>
</Layout>
