---
import Box from "../components/Box.astro";
import Layout from "../layouts/Layout.astro";

---


<Layout>  
    <h2 class="text-center">Interests</h2>
    <br/>
    <br/>
    <div class='relative flex flex-wrap justify-center content-center gap-3 w-full'>
        <Box>Knowledge Representation Languages</Box>
        <Box>Fuzzy Logic</Box>
        <Box>Natural Language Processing</Box>
        <Box>Philosophy</Box>
        <Box>Ontology</Box>
        <Box>Quantum Biology</Box>
    </div>
</Layout>
