---
import Layout from "../layouts/Layout.astro";

---

<Layout>
    <div class="relative overflow-y-auto h-[70%] pr-3">
        <h2 class='text-center'>Skills</h2>
        <br/>
        <br/>
    Data Model 
Well-versed in knowledge representation languages such as RDF, RDFS, OWL-2, PROV, ONTOLEX, and others. Mostly modelled data via JSON-LD syntax. Experience modelling (especially as acyclic knowledge graphs), formatting, and mapping schemas from various sources. Proficiency using Protégé and RDF-star. Proficient with OOP using Java, C#, JavaScript/TypeScript, and Python. Experience delivering data analysis and visualization requirements. Experience parsing language and using PEGs to build new coding languages (especially with Ohm.js).
<br/>
<br/>
Database 
Advanced proficiency in managing FlureeDB (a cryptographic database) and querying its data via FlureeQL (a NoSQL). Intermediate proficiency in SPARQL, GraphQL and SQL. 

<br/>
<br/>
Server and Network
Proficient at Node.js using the Express.js backend framework. Proficient at CSR as well as SSR (mostly in Next.js). Proficient at making API calls, and leverage cache with the react-query library. Proficient at using, designing and managing APIs. Proficient using Docker containers and images. Proficient at network management solutions like different AWS solutions.

<br/>
<br/>
Logic 
Advanced proficiency using Python, especially for prototyping, data analysis, data visualization, and building an NLP pipeline. Proficient Python libraries: NLTK, pandas, Matplotlib, NumPy, SciPy, RDFLib, etc. Very proficient at string formatting and searching, such as using Regex patterns. Advanced proficiency using JavaScript and TypeScript, especially using the React.js, Next.js. Proficient at Immer, TanStack-Query, Ohm, JS libraries. Proficient at global state and local state management solutions. Proficient at Git versioning. Intermediate proficiency in Clojure, C#, Java, Lua. 
** Currently learning ML, and implementing a fuzzy reasoner for inference.
<br/>
<br/>

User Experience
Advanced proficiency using HTML, CSS, JavaScript, and Typescript. Advanced proficiency using the CSS Tailwind framework. Developing new user experiences to enhance user communication. Experience building unique UX components like a file browser leveraging Chonky.js, an editor via Slate.js, and such. Experience building business pipelines, including logins, authentications, authorizations, payments (e.g Stripe), SMTP email sending.
</div>


</Layout>
