---
const currentYear = new Date().getFullYear();
---

<footer class="w-full grid grid-flow-col landscape:hidden justify-between relative bottom-0 ">
	<span class='m-4'>&copy; {currentYear} Marco A. Mongalo III</span>
	<small class="dark:text-gray text-right text-stone-800 text-[0.7631428283688879em] byline m-4">🚀 Built using Astro</small>
</footer>
<style>
	.byline {
		text-transform: uppercase;
	}
</style>
