---
import ContactIcon from "./ContactIcon.astro";
import HomeIcon from "./HomeIcon.astro";
import InterestsIcon from "./InterestsIcon.astro";
import ProjectsIcon from "./ProjectsIcon.astro";
import SkillsIcon from "./SkillsIcon.astro";
import ThemeMode from "./ThemeMode.astro";

---

<div id='mobileMenu' class='absolute flex grid-flow-col-dense flex-nowrap w-full mb-4 md:hidden overflow-visible justify-around z-20'>
    <SkillsIcon/>
    <ProjectsIcon/>
    <InterestsIcon/>
    <ContactIcon/>
    <ThemeMode/>
</div>
<style>
    #mobileMenu .icon {
        flex: 0 0 auto;
    }
</style>