<script type='text/javascript' is:inline>
    function openHome() {
        const home = document.getElementById('home');
        const icons = document.getElementsByClassName('section');
        for (let icon of icons) {
            if (!icon.classList.contains('hidden')) {
                icon.classList.add('hidden');
            }
        }
        home.classList.remove('hidden');
    }
</script>
<h2 id='name' onclick='javascript:openHome()' class="hover:text-white font-bold w-max font-mono text-center ">
    Marco A. Mongalo III
</h2>