---
import DarkModeIcon from "./DarkModeIcon.astro";
import LightModeIcon from "./LightModeIcon.astro";

export interface Props {
    className?: string;
}

const { className } = Astro.props;

---
<script type='text/javascript' is:inline>
    const toggleTheme = () => {
        console.log('test');
        const html = document.getElementsByTagName('html')[0];
        if (html.classList.contains('dark')) {
            html.classList.remove('dark');
        } else {
            html.classList.add('dark');
        }
    }
</script>
<div class={`${className} text-5xl`} title='themeMode' onclick={`javascript:toggleTheme()`}>
    <LightModeIcon/>
    <DarkModeIcon/>
</div>



