---
// Component Imports
import MainHead from '../components/MainHead.astro';
import Footer from '../components/Footer.astro';
import Name from '../components/Name.astro';
import ProjectsIcon from '../components/ProjectsIcon.astro';
import ContactIcon from '../components/ContactIcon.astro';
import SkillsIcon from '../components/SkillsIcon.astro';
import InterestsIcon from '../components/InterestsIcon.astro';
import MobileMenu from '../components/MobileMenu.astro';
import AstroThemeMode from '../components/AstroThemeMode.astro';
// Data Fetching: List all Markdown posts in the repo.
//const projects = await Astro.glob('./project/**/*.md');

// Full Astro Component Syntax:
// https://docs.astro.build/core-concepts/astro-components/

export interface Props {
	className?: string;
}

const { className = '' } = Astro.props;
//const cookie = Astro.request.headers.get('cookie')
//console.log(cookie);

const cookie: string|null = Astro.request.headers.get('cookie');

---

<html lang="en" class={!cookie!.includes('dark') ? '' : 'dark'}>
	<head>
		<MainHead
			title="Marco A. Mongalo III"
			description="Marco A. Mongalo III | Knowledge and Software Engineer"
		/>
		<style>

			.img {
				display: block;
				width: 100%;
				height: auto;
			}


			.roles {
				display: flex;
				flex-wrap: wrap;
				gap: 0.5em;
				font-size: var(--f-d1);
			}

			.role {
				position: relative;
				display: inline-block;
				white-space: nowrap;
				font-weight: 900;
				color: var(--t-bg);
				background-color: var(--t-fg);
				padding: 0.25em 0.5em;
				z-index: 2;
			}

			@media (min-width: 750px) {
				.role {
					font-size: var(--f-u3);
				}
			}

			.role:nth-of-type(1) .invert {
				background-color: var(--c-pink);
			}

			.role:nth-of-type(2) .invert {
				background-color: var(--c-blue);
			}

			.role:nth-of-type(3) .invert {
				background-color: var(--c-green);
			}

			.role:hover .invert {
				clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
			}

			.invert {
				position: absolute;
				color: var(--t-fg);
				display: flex;
				align-items: center;
				justify-content: center;
				width: 100%;
				height: 100%;
				top: 0;
				left: 0;
				pointer-events: none;
				clip-path: polygon(0% 100%, 100% 100%, 100% 200%, 0% 200%);
				transition: clip-path cubic-bezier(0.4, 0, 0.5, 1) 150ms;
			}

			.desc {
				font-size: var(--f-u1);
				margin-top: 1.5rem;
				margin-bottom: 0;
			}

			.subtitle {
				display: block;
				font-weight: 400;
				font-size: var(--f-d6);
				letter-spacing: -0.0625em;
			}

			nav {
				display: flex;
				gap: 1rem;
				align-items: center;
				padding: 1rem;
			}

			.link {
				color: var(--t-subdue);
				display: block;
				text-decoration: none;
				font-size: var(--f-d1);
				text-transform: uppercase;
				padding-top: 0.75em;
				padding-bottom: 0.75em;
			}

			.link:hover,
			.link:focus {
				color: var(--t-active);
			}


		</style>
	</head>
	<body class="overflow-hidden grid grid-flow-row bg-slate-100 dark:bg-green-900 dark:text-white transition-colors duration-300 w-[100vw] h-[100vh]"
	style={{
		gridTemplateRows: '0.5fr 5fr'
	}}
	>
	<header class='mt-4 grid z-10'>
		<MobileMenu/>
		<div class="h-[3.5rem] md:h-0"></div>
		<ContactIcon  className='hidden font-semibold md:block absolute left-6'/>
		<div class="w-full grid justify-center">
			<Name/>
		</div>
		<AstroThemeMode className='hidden md:block right-6 absolute'/>
			<!--div>
				<div class="roles">
					<span class="role">👩‍💻 Knowledge Engineer <span class="invert">👩‍💻 Knowledge Engineer</span></span>
					<span class="role">👩‍💻 Developer <span class="invert">👩‍💻 Developer</span></span>
					<span class="role">🎤 Speaker <span class="invert">🎤 Speaker</span></span>
					<span class="role">✏️ Writer <span class="invert">✏️ Writer</span></span>
				</div>
				<p class="desc">Testing</p>
			</div-->
		</header>
		<main class='h-[100vh] w-[100vw] absolute'>
			<div class="absolute h-full w-full flex justify-center  font-semibold text-lg">
				<!--div id='interests' class='section hidden w-[70%] text-center'-->
                <div class={`${className} h-2/3 justify-self-center md:w-[80%] md:p-10 md:pt-32 pt-44`}>
                    <slot/>
                </div>
				<div class='absolute left-6 flex items-center h-full'>
					<InterestsIcon className="hidden md:block"/>
				</div>
				<div class='absolute bottom-6 z-20 grid justify-center overflow-visible w-full'>
					<ProjectsIcon className={" hidden md:block "}/>
				</div>
				<div class='absolute right-6 flex items-center h-full'>
					<SkillsIcon className="hidden md:block"/>
				</div>
				<Footer />
			</div>
		</main>
		<script>
			import { readCookie } from '../utils/CookiesHelper';

			if (typeof document !== 'undefined') {
				const html = (document.getElementsByTagName('html'))[0];
				if (readCookie('theme') === 'light') {
					html.classList.remove('dark');
				} else {
					if (!html.classList.contains('dark')) {
					html.classList.add('dark');
				}
			}
			}
		</script>
	</body>
</html>
